/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, dialog, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  flex-direction: column;
  background: var(--bckg);
  color: var(--onBckg);
}

:root {
  --accent-color: #0070E0;
  --low-priority: #89BB40;
  --medium-priority: #F1A74E;
  --high-priority: #EC1A2B;
  --low-priority-bg: #89BB4020;
  --medium-priority-bg: #F1A74E20;
  --high-priority-bg: #EC1A2B20;
  --low-priority-hover: #89BB4033;
  --medium-priority-hover: #F1A74E33;
  --high-priority-hover: #EC1A2B33;
  --bckg: #fafafa;
  --bckg2: #e8e8e8;
  --onBckg: #191919;
  --side-nav-width: 24vw;
  --form-padding: 4vw;
}

/*********************************************************/
/* Material Icons */
/*********************************************************/

@font-face {
  font-family: 'Material Icons Rounded';
  /* font-weight: bold; */
  font-style: normal;
  src:  url('./MaterialIconsRound-Regular.otf') format('opentype');
}

.material-icons-rounded {
  font-family: 'Material Icons Rounded';
  /* font-weight: normal; */
  font-style: normal;
  font-size: 2rem;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

/*********************************************************/
/* Header */
/*********************************************************/

#app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 30px 0;
  background: black;
  color: white;
  font-family: Georgia;
  font-size: 2rem;
  font-weight: 700;
}

/*********************************************************/
/* Content */
/*********************************************************/

.content {
  display: flex;
  height: 100%;
}

/*********************************************************/
/* Projects Nav*/
/*********************************************************/

nav {
  display: flex;
  background: var(--bckg2);
  flex-direction: column;
  position: relative;
  width: var(--side-nav-width);
  height: 100%;
  padding: 1rem;
}

nav button {
  display: flex;
  align-items: center;
  width: 100%;
  background: none;
  padding: 0.5rem;
  border: none;
  font-size: 1.25rem;
  font-weight: 500;
  gap: 0.625rem;
  border-radius: 0.5rem;
  justify-content: flex-start;

  /* Add transition for smooth background change */
  transition: background-color 0.3s ease;
}

nav button:hover {
  background: rgba(0, 0, 0, 0.025);
}

nav button > .actions {
  margin-left: auto;
  display: flex;
  gap: 0.3rem;
  
  /* Hide actions by default */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

nav button:hover > .actions {
  /* Show actions on button hover */
  opacity: 1;
  visibility: visible;
}

nav button > .actions i:hover {
  color: var(--accent-color); /* Change icon color to accent on hover */
}

nav button > i:first-child {
  flex-shrink: 0; /* Prevent the icon from shrinking */
}

nav button > .actions {
  margin-left: auto; /* Push the actions div to the right */
  display: flex;
  gap: 0.3rem; /* Add some space between action icons */
}

nav button > .actions i {
  font-size: 1.25rem;
  color:rgba(0, 0, 0, 0.3)
}

nav button[aria-selected="true"] {
	color: var(--accent-color);
  background: rgba(0, 0, 0, 0.05);
  border-left: 5px solid var(--accent-color);
}

#menu-header {
  display:flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem; 
  margin-bottom: 1rem;
}

#menu-header h1 {
  flex: 1;
}

#add-project {
  width: auto;
  padding: 0;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.3)
}

/*********************************************************/
/* Main */
/*********************************************************/

main {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

#main-header {
  font-size: 2rem;;
}

#tasklist {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  gap: 1rem;
  
}

/*********************************************************/
/* CTA Button */
/*********************************************************/

button[id*="cta"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accent-color);
  color: white;
  padding: 1rem 2rem 1rem 1.5rem;
  border: none;
  border-radius: 50px;
  font-size: 1.25rem;
  font-weight: 500;
  gap: 0.625rem;
}

#create-cta.disabled {
  pointer-events: none;
  opacity: 0.3;
}

/*********************************************************/
/* Tasks */
/*********************************************************/

.card {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border-left: 5px solid var(--accent-color);
  background: rgba(0, 0, 0, 0.025);
}

.priority-high {
  border-left-color: var(--high-priority);
  background: var(--high-priority-bg);
}

.priority-high:hover {
  background: var(--high-priority-hover);
}

.priority-medium {
  border-left-color: var(--medium-priority);
  background: var(--medium-priority-bg);
}

.priority-medium:hover {
  background: var(--medium-priority-hover);
}

.priority-low {
  border-left-color: var(--low-priority);
  background: var(--low-priority-bg);
}

.priority-low:hover {
  background: var(--low-priority-hover);
}

.card label {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: larger;
  cursor: pointer;
  gap: 0.5rem;
}

.title-done {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  /* background-color: red; */
}

/* the custom checkbox check_circle material icon */
label span {
  display: inline-block;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

/*  select the span (custom checkbox) when the card is hovered */
.card:hover span,
/* span that is next to focused checkbox for keyboard support*/
[type='checkbox']:focus + span { 
  transform: scale(1.2);
  color: black;
}
/* Task card styling when checkbox is checked */
[type='checkbox']:checked + span { 
  transform: scale(1);
  color: black;
}

/* select label with a checked input */
/* set position relative to set ::after position*/
label:has(input.done:checked) {
  position: relative;
  opacity: 0.33;
}
/* select label with a checked input */
/* pseudo used to only line through label's text content (not material text icon) */
/* ::after is placed right under label*/
label:has(input.done:checked)::after {
  content: attr(data-text);
  text-decoration: line-through;
  position: absolute;
  left: 20px;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
/* Hide the default checkbox - still tabbable */
[type='checkbox'] {
  position: absolute;
  opacity: 0;
}

.due-date {
  white-space: nowrap;
}



/*********************************************************/
/* Dialog Form */
/*********************************************************/

dialog {
  margin: auto;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  width: 30ch;
  overflow: hidden;
  animation: show 0.3s ease normal;
  transition: close 0.3s ease normal;
}

@keyframes show{
  from {transform: scale(0);}
  to {transform: scale(100%);}
}

@keyframes close {
  from {transform: scale(100%);}
  to {transform: scale(0);}
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.1);
  animation: show-backdrop 300ms ease-in-out;
}

form {
  box-sizing: border-box;
  background: white;
  padding: 1.5rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

legend {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: larger;
  font-weight: 600;
  padding-bottom: 2rem;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.7);
}

#close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: 600;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Remove padding */
  line-height: 1; /* Ensure text is centered vertically */
  z-index: 1000; /* Ensure the button is on top */
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

dialog label {
  padding-bottom: 4px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}

input, textarea {
  box-sizing: border-box;
  border: 1px solid #E5E7EB;
  border-radius: 3px;
  padding: 7px;
  font-size: 14px;
}

#name::placeholder {
  opacity: 0.5;
}

#description {
  height: 4rem;
}

input:focus, textarea:focus {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  outline: 1px solid lightgray;
}

.custom-select {
  position: relative;
}

select {
  font-size: 0.875rem;
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
  border: 2px solid #C2C2C2;
  border-radius: 8px;
  /* appearance: none; */
  width: 100%;
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: white;
  border-top: 2px solid #C2C2C2;
  border-right: 2px solid #C2C2C2;
  border-bottom: 2px solid #C2C2C2;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 100%;
  width: 2rem;
  pointer-events: none;
}

.custom-arrow::before,
.custom-arrow::after {
  --size: 0.33rem;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid #C2C2C2;
  top: 65%;
}

.custom-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid #C2C2C2;
  top: 35%;
}

select:focus {
  outline: none;
}

dialog h1 {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: larger;
  font-weight: 600;
  padding-bottom: 2rem;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.7);
}

dialog p {
  padding-bottom: 2rem;
  font-size: large;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.7);
}

dialog p span {
  font-weight: 600;
  line-height: 1.5;
}

dialog #delete-cta {
  background: firebrick;
}